.maincenter{
  position: absolute;
  top:300px;
  left:100px;
  border-color: red;
}
.tlogin:focus{
  width: 300px;
  height: 30px;
  font-size: 30px;
  padding-right: 10px;
  border-color: purple;
}
.slplogin{
  width: 300px;
  height: 30px;
  font-size: 22px;
  padding-left: 10px;
}
.logo{
  position: absolute;
  top:200px;
  left:160px;
  font-size:50px;
  color:purple;
}
.subbut{
  width: 310px;
  height: 50px;
  border-top-left-radius: 50%;
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%;
  border-top-right-radius: 50%;
  background-color: cornflowerblue;
}